<%= render partial: "partials/side_bar" %>
<div class="container-fluid col-md-offset-2">
  <h1 class="text-center"> <%= @activity.name %></h1>
  <%= render partial: "partials/crag_search" %>
  <% if !@activity_crags.empty? %>
    <h1 class="text-center">Nearby Crags</h1>
    <%= link_to "Clear crags", crag_path, method: :delete, params: { activity_id: @activity.id }, class: "btn btn-danger" %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Crag name</th>
          <th>Number of Routes</th>
          <th>Climbing Styles</th>
          <th>Add to favorites</th>
        </tr>
      </thead>
      <tbody>
        <% @activity_crags.each do |activity_crag| %>
        <tr id=<%= "#{activity_crag.id}" %>>
          <td><%= activity_crag.name %></td>
          <td><%= activity_crag.route_quantity %></td>
          <td><%= activity_crag.climbing_styles %></td>
          <% if !activity_crag.favorite %>
            <td class="btn btn-default favorite-crag">Favorite</td>
          <% end %>
          <% if activity_crag.favorite %>
            <td class = "glyphicon glyphicon-heart"></td>
            <% else %>
            <td id=<%= "favorited-#{activity_crag.id}" %> class="hide glyphicon glyphicon-heart"></td>
          <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<div class="container col-md-offset-2">
  <%= render partial: "partials/map" %>
</div>
