<div class="container">
  <h1 class="text-center"> <%= @activity[:name] %></h1>
    <div class="col-md-6">
      <h4>Location: <%= @activity[:location_city] %>, <%= @activity[:location_state] %></h4>
      <h4>Activity Type: <%= @activity[:type] %></h4>
      <h4>Kudos Given: <%= @activity[:kudos_count] %></h4>
      <h4>Max Speed: <%= @activity[:max_speed] %></h4>
    </div>
    <div class="col-md-6">
      <h4>Distance: <%= @activity[:distance] %></h4>
      <h4>Moving Time: <%= @activity[:moving_time] %></h4>
      <h4>Elevation Gain: <%= @activity[:total_elevation_gain] %></h4>
      <h4>Start Date: <%= @activity[:start_date_local] %></h4>
      <h4>Strava achievements: <%= @activity[:achievement_count] %></h4>
    </div>
<br>
<h3 class="text-center"> <%= @activity[:start_latlng] %></h1>
</div>
<br>
<%= javascript_tag do %>
  function trailMap() {

    var map_options = {

      center: new google.maps.LatLng(<%= @activity[:start_latitude] %>, <%= @activity[:start_longitude] %>),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      panControl: false,
      mapTypeControl: false,
      zoomControlOptions: { position: google.maps.ControlPosition.LEFT_CENTER }
    };

    var map = new google.maps.Map(document.getElementById("google-map"), map_options);

    var startMarker = new google.maps.Marker({
      position: { lat: <%= @activity[:start_latitude] %>,
                  lng: <%= @activity[:start_longitude] %> },
      map: map,
      label: "+"
    });

    var poly = new google.maps.Polyline({
      geodesic: true,
      strokeColor: "#EB7001",
      strokeWeight: 4,
      map: map
    });

  };
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS'] %>&callback=trailMap"
async defer></script>

<div class="card center background-color" style="margin: 20px 10px; height: 575px;">
  <div id="google-map" style="width: 90%; height: 450px; position: absolute; left: 5%; top: 10%;"></div>
</div>

<div class="space"></div>
