<!DOCTYPE html>
<html>
<head>
  <title>ExploreFurther</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Play:700' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />
  <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:700px; height:300px  }
  </style>

</head>
<body>
  <% if !current_page?(root_path) %>
    <%= render partial: "partials/navbar" %>
  <% end %>
<%= yield %>
</body>
</html>
